html {
  font-family: Arial;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#center {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#main-input {
  display: flex;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
