html {
  font-family: Arial;
  font-size: 20px;
}

header {
  color: #ba412e;
  text-align: center;
}

main {
  background-color: #da614e;
  max-width: 400px;
  padding: 1em;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

fieldset {
  border: 0;
  font-size: smaller;
}

input,
select,
button {
  font-size: large;
  box-sizing: border-box;
  width: 100%;
}

#calculate,
#output-section {
  margin-top: 1em;
}

#output-section {
  display: flex;
  justify-content: space-between;
}

#main-output {
  flex: 1;
  text-align: center;
  font-weight: bold;
}

#results {
  font-size: larger;
}
